@import url(' https://fonts.cdnfonts.com/css/helvetica-neue-5 ');

.bg-img {
    background-image: url(/assets/images/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    width: 100%;
    height: 810px;
}

.gap-40 {
    gap: 40px;
}

.ml-190 {
    margin-left: 190px;
}

.mt-70 {
    margin-top: 70px;
}

.gap-150 {
    gap: 150px;
}

.pr-50 {
    padding-right: 50px;
}

.m-p {
    margin: 0;
    padding: 0;
}

.pr-40 {
    padding-right: 40px;
}

.gap-24 {
    gap: 24px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.btn {
    padding: 12px 20px;
    font-weight: 700;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 18.4px;
    text-align: left;
    color: black;
    background-color: #FFFFFF;
    border-radius: 0px 50px 50px 50px;
    border-radius: 0px 50px 50px 50px;

}

.links {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.main-heading {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    text-align: left;
    color: #FFFFFF;
}

.bold {
    font-weight: 700;
}

.pt-70 {
    padding-top: 70px;
}

.para {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 10px;
    padding-right: 50px;
    text-decoration: none;
}


.para-1 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    text-decoration: none;
    opacity: 90%;
}


.pb-40 {
    padding-bottom: 40px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.dots {

    right: 0;


}

.z-1 {
    z-index: -1;
}

label[for="text"] {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.compare-button {
    position: absolute;
    right: 140px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 168, 232, 1);
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    color: White;
    border: 1px solid rgba(0, 168, 232, 1);
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 20px;




}

input[type="text"] {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    width: 476px;
    padding: 24px 22px;
    border-radius: 0px 100px 100px 20px;
    border: 1px solid rgba(254, 254, 254, 1);
}

::placeholder {
    background: rgba(254, 254, 254, 1);
    color: gray;

}

.skyblue {
    color: rgba(0, 168, 232, 1);
}

.heading {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 400;
    line-height: 41.8px;
    text-align: left;
    color: var(--Prussian-Blue, #003459)
}
.heading-2{
        font-family: Helvetica;
        font-size: 48px;
        font-weight: 400;
        line-height: 52.8px;
        text-align: center;
        color:  #00171F;
}
.max-w-548 {
    max-width: 548px;
}

.pt-120 {
    padding-top: 120px;
}

.overflow-auto {
    overflow: auto;
}

.max-w-620 {
    max-width: 620px;
}

.flex-column {
    flex-direction: column;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.footer-img {
    background-image: url(/assets/images/svg/Footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 100%;
}

.follow {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;

}

.max-w-110 {
    max-width: 110px;
}

.max-w-131 {
    max-width: 131px;
}
.line{
border: 1px solid #FFFFFF33;
width:100%;
}
.bill{
    font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
       color: #FFFFFF;
       opacity: 90%;
}
.info {
    box-sizing: border-box;
    gap: 10px;
    transform: translateY(120px);
    background-image: url(/assets/images/svg/box.svg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.max-w-620{
    max-width: 620px;
}
.mb-40{
    margin-bottom: 40px;
}
.pt-160{
    padding-top: 160px;
}
.pt-90{
    padding-top: 90px;
}
.sign{
   
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    color: #00171F;
}
.btn-2{
    background-color: #007EA7;
}
@media(max-width:1199.98px) {
    .ml-190 {
        margin-left: 50px;
    }
}

@media(max-width:991.98px) {
    .menu-list {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: black;
        transition: all 200ms linear;
        z-index: 3;
    }

    .menu-list ul {
        flex-direction: column;

    }

    input:checked~.menu-list {
        right: 0;
        z-index: 1;
    }

    label[for="list"] {
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }


    label[for="list"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;

    }

    input:checked~.menu-list {
        left: 0;
        z-index: 1;
    }

    input:checked~label[for="list"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="list"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="list"] span:nth-child(2) {
        transform: rotate(-40px);

        visibility: hidden;
    }

    .pt-70 {
        padding-top: 20px;
    }

    .main-heading {
        font-size: 48px;
        line-height: 50.4px;
    }

    .women {
        height: 500px;
    }
.heading-2{
    font-size: 32px;
}
}

@media(max-width:767.98px) {
    .main-heading {
        font-size: 36px;
        line-height: 38.4px;
    }

    .para {
        padding-right: 0;
    }

    .compare-button {
        right: 30px;
    }

    .center {
        text-align: center;
    }

    .pl-150{
        padding-left: 150px;
    }
    .ml-180{
        margin-left: 180px;
    }
    .mt-30{
        margin-top: 30px;
    }
}
@media(max-width:575.98px) {
    .pl-150 {
            padding-left: 90px;
        }
    
        .ml-180 {
            margin-left: 140px;
        }
        .max-w-620{
            max-width: 320px;
        }
        .pt-120{
            padding-top: 150px;
        }
}
@media(max-width:320px) {
    .pl-150 {
        padding-left: 40px;
    }

    .ml-180 {
        margin-left: 80px;
    }
       
}